<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.stock.web.community.mapper.CommunityMapper">
  
  <parameterMap id="map" type="hashmap">
    <parameter property="v_user_id" mode="IN" jdbcType="VARCHAR" javaType="java.lang.String" />
    <parameter property="v_bbs_id" mode="IN" jdbcType="NUMERIC" javaType="java.lang.Long" />
    <parameter property="v_result" mode="OUT" jdbcType="VARCHAR" javaType="java.lang.String"/>
    <parameter property="v_result2" mode="OUT" jdbcType="VARCHAR" javaType="java.lang.String"/>
</parameterMap>
 
<select id="likePush" statementType="CALLABLE" parameterMap="map">
    { call likepush(?,?,?,?) }
</select>


 <select id="autocomplete" resultType="com.stock.web.community.domain.Stock">
  	SELECT
    	code,
   		long_name,
    	short_name,
    	eng_name
	FROM
    	stock
  </select>



  
  
  <insert id="insert" parameterType="com.stock.web.community.domain.CommunityDto" statementType="CALLABLE">
        {CALL 
            HASG_TAG_PR (#{USER_ID},#{CONTENT},#{HASHTAG},#{COUNT})
        }
    </insert>
    
    
    <resultMap id="boradResult" type="com.stock.web.community.domain.CommunityDto">
    <id property="ID" column="bbs_id"/>
    <result property="CONTENT" column="content"/>
    <result property="USER_ID" column="author_id"/>
    <result property="WRITEDATE" column="writedate"/>
    <result property="HASHTAG" column="hashtag"/>
    <result property="LIKECOUNT" column="likecount"/>
    <result property="commentcount" column="commentcount"/>
    <result property="user_like" column="user_like"/>
    
   	<!-- <collection property="HASHTAGLIST" javaType="java.util.ArrayList" resultMap="HASH" /> -->
   <!--  <collection property="Like" javaType="java.util.ArrayList" resultMap="USER" /> -->
	</resultMap>
	
	<!-- <resultMap id="USER" type="com.stock.web.user.domain.UserDto">
	    <result property="id" column="like"/>
	</resultMap> -->
<!-- 	<resultMap id="HASH" type="com.stock.web.community.domain.HashTag">
	    <result property="hashTag" column="hashtag"/>
	</resultMap> -->

   <select id="selectList" resultMap="boradResult">
   SELECT *
FROM   (SELECT ROWNUM num,
               c.*
        FROM   (SELECT a.id        "bbs_id",
                       a.user_id   "author_id",
                        TO_CHAR(a.writedate,'YYYY-MM-DD HH24:MI')"writedate",
                       a.content   "content",
                       '#'||b.hashtag "hashtag",
                       nvl(k."likecount",0)"likecount", 
                       nvl(n."commentcount",0)"commentcount",
                        <choose>
       						 <when test='!user.equals("")'>
                       		nvl(m."user_like",0)"user_like"
                       		</when>
							<otherwise>
							 0"user_like"	
							</otherwise>
						</choose>
                FROM   bbs a
                       left join vhashtag b
                              ON a.id = b.id
                       left join (select l.bbs_id"BS2",count(l.bbs_id)"likecount" from likebbs l group by l.bbs_id) k
                              ON a.id = k.BS2
                       left join (select s.bbs_id"BS3",count(s.bbs_id)"commentcount" from comments s group by s.bbs_id) n
                            ON a.id = n.BS3
                       <if test='!user.equals("")'>
                       left join (select o.bbs_id"user_like" from likebbs o where o.user_id=#{user}) m
                            ON a.id = m."user_like"
                             </if>
                ORDER  BY a.writedate DESC) c) f  where <![CDATA[num >= #{fpage} and num <= #{epage}]]>
  </select>
    
    
       <select id="selectContent" resultMap="boradResult">
   SELECT *
FROM   (SELECT ROWNUM num,
               c.*
        FROM   (SELECT a.id        "bbs_id",
                       a.user_id   "author_id",
                       TO_CHAR(a.writedate,'YYYY-MM-DD HH24:MI')"writedate",
                       a.content   "content",
                       '#'||b.hashtag "hashtag",
                       nvl(k."likecount",0)"likecount", 
                       nvl(n."commentcount",0)"commentcount",
                        <choose>
       						 <when test='user !=null'>
                       		nvl(m."user_like",0)"user_like"
                       		</when>
							<otherwise>
							 0"user_like"	
							</otherwise>
						</choose>
                FROM   bbs a
                       left join vhashtag b
                              ON a.id = b.id
                       left join (select l.bbs_id"BS2",count(l.bbs_id)"likecount" from likebbs l group by l.bbs_id) k
                              ON a.id = k.BS2
                       left join (select s.bbs_id"BS3",count(s.bbs_id)"commentcount" from comments s group by s.bbs_id) n
                            ON a.id = n.BS3
                       <if test='user !=null'>
                       left join (select o.bbs_id"user_like" from likebbs o where o.user_id= #{user}) m
                            ON a.id = m."user_like"
                             </if>
                ORDER  BY a.writedate DESC) c) f  where <![CDATA["bbs_id" = #{bid}]]>
  </select>
  
  
  
    <resultMap id="commentsResult" type="com.stock.web.community.domain.Comments">
    <id property="comment_id" column="comment_id"/>
    <result property="comments" column="comment_content"/>
    <result property="USER_ID" column="comment_author"/>
    <result property="writedate" column="comment_writedate"/>
	</resultMap>
  
   <select id="commentsList" resultMap="commentsResult">
		  select * from(select ROWNUM num , com.* 
from (SELECT
       
        comment_id,
        bbs_id,
        comment_content,
        comment_author,
        TO_CHAR(comment_writedate,'YYYY-MM-DD HH24:MI')"comment_writedate"
    FROM
        comments
    where 
        bbs_id = #{bid}
    order by comment_writedate
    ) com ) k where <![CDATA[num >= #{fpage} and num <= #{epage}]]>
   
  </select>
   
  

  
  

</mapper>	