<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.stock.web.community.mapper.CommunityMapper">
  
  
  <select id="autocomplete" resultType="com.stock.web.community.domain.Stock">
  	SELECT
    	code,
   		long_name,
    	short_name,
    	eng_name
	FROM
    	stock
  </select>
  <insert id="insert" parameterType="com.stock.web.community.domain.CommunityDto" statementType="CALLABLE">
        {CALL 
            HASG_TAG_PR (#{USER_ID},#{CONTENT},#{HASHTAG},#{COUNT})
        }
    </insert>
    
   <select id="selectList" resultType="com.stock.web.community.domain.CommunityDto">
     <![CDATA[
  		select * from (select ROWNUM num ,c.*  from (select * from bbs a left join vhashtag b on a.id=b.id) c ) where num>=#{fpage} and num <= #{epage}
  		 ]]>
  </select>
    
   
  

  
  

</mapper>	